@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
#prodwall{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(138, 138, 138, 0.744);
}
#prodwall>div{
    width: 35%;
    margin: auto;
    padding: 6% 3%;
    position: relative;
    animation: opac 1s ease;
    border: 1px solid bla;
}
#prodwall>div>img{
    width: 100%;
}
#prodwall>div>h1{
    margin-top: 1%;
    text-align: center;
}
#prodwall>div>p{
    margin-top: 10%;
    font-size: 17px;
    text-align: justify;
}
#prodwall>div>#price1{
    margin-top: 10%;
    font-weight: bold;
}
#prodwall>div>#price1:hover{
    color: rgb(96, 96, 96);
    cursor: pointer;
}
#prodwall>div>button{
    margin-top: 6%;
    padding: 5%;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    border: none;
}
#prodwall>div>#heart1{
    background: transparent;
    font-size: 18px;
    border: none;
    position: absolute;
    top: 5%;
    left: 80%;
}
#text1{
    position: absolute;
    left: 80%;
    top: 5%;
    color: red;
    font-weight: bold;
    animation: opac 1s ease;
}
#prodwall>div:nth-child(1)>p{
    margin-top: 10%;
    text-align: center;
}
#prodwall>div:nth-child(2){
    padding: 0%;
}
#descriptionwall{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px
}
#descriptionwall>div{
    border: 1px solid rgba(207, 207, 207, 0.744);
    padding: 8% 6%;
    position: relative;
    animation: opac 1s ease;
}
#descriptionwall>div:hover{
    border: 1px solid rgba(128, 128, 128, 0.744);
}
#descriptionwall>div>img{
    width: 100%;
    cursor: pointer;
}
#descriptionwall>div>h1{
    margin-top: 2%;
}
#descriptionwall>div>p{
    margin-top: 3%;
    font-size: 17px;
}
#descriptionwall>div>#price2{
    margin-top: 10%;
    font-weight: bold;
}
#descriptionwall>div>#price2:hover{
    color: rgb(96, 96, 96);
    cursor: pointer;
}
#descriptionwall>div>button{
    margin-top: 6%;
    padding: 5%;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    border: none;
}
#descriptionwall>div>#heart2{
    background: transparent;
    font-size: 18px;
    border: none;
    position: absolute;
    top: -1.5%;
    left: 80%;
}
#text2{
    position: absolute;
    left: 76%;
    top: 1%;
    color: red;
    font-weight: bold;
    animation: opac 1s ease;
}
#push>div>button{
    padding: 3%;
    font-size: medium;
    margin-top: 6%;
    cursor: pointer;
}
#signup{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 3%;
}
#signup>input{
    padding: 3% 5%;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid grey;
}
#submit{
    width: 20%;
    margin: auto;
    cursor: pointer;
}
#signup2{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
}
#signup2>input{
    padding: 3% 5%;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid grey;
}
#submit2{
    width: 30%;
    margin: auto;
    cursor: pointer;
}
#one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    animation: opac 1s ease;
    grid-template-columns: repeat(5,1fr);
    font-family: 'Quicksand', sans-serif;

}
#one1>div>h3, #two2>div>h3, #three3>div>h3, #five5>div>h3, #six6>div>h3, #eight8>div>h3, #nine9>div>h3{
    margin-bottom: 5%;
}
#one1>div>div, #two2>div>div, #three3>div>div, #five5>div>div, #six6>div>div, #eight8>div>div, #nine9>div>div{
    margin-top: 3%;
}
#one1>div:nth-child(1), #two2>div:nth-child(1), #three3>div:nth-child(1), #five5>div:nth-child(1), #six6>div:nth-child(1), #nine9>div:nth-child(1), #eight8>div:nth-child(1){
    grid-area: 1/5/1/6;
    animation: opac 1s ease;

}
#one1>div:nth-child(2), #two2>div:nth-child(2), #three3>div:nth-child(2), #five5>div:nth-child(2), #six6>div:nth-child(2), #nine9>div:nth-child(2), #eight8>div:nth-child(2){
    grid-area: 1/1/1/2;
    padding-top: 3%;
    animation: div1 1.2s ease;
}
#one1>div:nth-child(3), #two2>div:nth-child(3), #three3>div:nth-child(3), #five5>div:nth-child(3), #six6>div:nth-child(3), #eight8>div:nth-child(3){
    grid-area: 1/2/1/3;
    padding-top: 3%;
    animation: div2 1s ease;
}
#one1>div:nth-child(4), #three3>div:nth-child(4), #six6>div:nth-child(4), #eight8>div:nth-child(4){
    grid-area: 1/3/1/4;
    padding-top: 3%;
    animation: div1 1s ease;
}
#one1>div>img, #two2>div>img, #three3>div>img, #five5>div>img, #six6>div>img, #eight8>div>img, #nine9>div>img{
    width: 100%;
    padding: 8%;
}
@keyframes div1 {
    0%{
        position: relative;
        top: 15%;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}
@keyframes div2 {
    0%{
        position: relative;
        top: 23%;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}
@keyframes opac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media all and (max-width: 600px){
    #descriptionwall{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10%;
    }
}
@media all and (min-width: 601px) and (max-width: 949px){
    #descriptionwall{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
    }
    #one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
        display: none;
    
    }
}
@media all and (min-width: 950px) and (max-width: 1400px){
    #descriptionwall{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 10%;
    }
    #one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
        width: 90%;
    }
}