@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
body{
    background-color: white;
}
#content{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#content>div:nth-child(1){
    grid-area: 1/1/1/1;
}
#content>div:nth-child(2){
    grid-area: 1/2/1/4;
}
#content>div>select{
    padding: 4%;
    font-size: medium;
    margin-top: 10%;
    cursor: pointer;
}
#content>div>img{
    width: 100%;
}
#gucciwall{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 15px;
}
#gucciwall>div{
    border: 1px solid rgba(207, 207, 207, 0.744);
    padding: 8% 6%;
    position: relative;
    animation: opac 1s ease;
}
#gucciwall>div:hover{
    border: 1px solid rgba(128, 128, 128, 0.744);
}
#gucciwall>div>img{
    width: 100%;
    cursor: pointer;
}
#gucciwall>div>h1{
    margin-top: 2%;
}
#gucciwall>div>p{
    margin-top: 3%;
    font-size: 17px;
}
#gucciwall>div>#price{
    margin-top: 10%;
    font-weight: bold;
}
#gucciwall>div>#price:hover{
    color: rgb(96, 96, 96);
    cursor: pointer;
}
#gucciwall>div>button{
    margin-top: 6%;
    padding: 5%;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    border: none;
}
#gucciwall>div>#heart{
    background: transparent;
    font-size: 18px;
    border: none;
    position: absolute;
    top: -1.5%;
    left: 80%;
}
#text{
    position: absolute;
    left: 76%;
    top: 1%;
    color: red;
    font-weight: bold;
    animation: opac 1s ease;
}

@keyframes opac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media all and (max-width: 600px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #gucciwall{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10%;
    }
    #content>div>select{
        margin-top: 5%;
    }
}
@media all and (min-width: 601px) and (max-width: 949px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #gucciwall{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
    }
    #content>div>select{
        padding: 3%;
        margin-top: 5%;
    }
}
@media all and (min-width: 950px) and (max-width: 1400px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #gucciwall{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 10%;
    }
    #content>div>select{
        padding: 2%;
        margin-top: 5%;
    }
}