@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
#navbar{
    padding: 3% 4% 1.5% 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#menu-btn{
    display: none;
    cursor: pointer;
}
#menu-btn>img{
    width: 28%;
}
#up{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 3%;
}
#logo{
    grid-area: 1/3/1/4;
    cursor: pointer;
}
#logo>img{
    width: 100%;
}
#navi{
    grid-area: 1/5/1/6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navi>input{
    padding: 2% 3%;
    font-size: medium;
    width: 45%;
    letter-spacing: 0.5;
}
#navi>img{
    width: 9%;
    cursor: pointer;
}
#down{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#down>div:hover{
    cursor: pointer;
    color: grey
}
footer{
    background-color: rgb(218, 218, 218);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 4% 3%;
}
#upp{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5%;
    margin-bottom: 3%;
}
#upp>div>div{
    margin-bottom: 10%;
}
#upp>div:nth-child(1){
    grid-area: 1/1/1/2;
    cursor: pointer;
}
#upp>div:nth-child(2){
    grid-area: 1/2/1/3;
    cursor: pointer;
}
#upp>div:nth-child(1)>div:hover,#upp>div:nth-child(2)>div:hover{
    color: gray;
}
#upp>div:nth-child(3){
    grid-area: 1/3/1/5;
}
#upp>div:nth-child(3)>div{
    margin-bottom: 3%;
}
#upp>div:nth-child(3)>input{
    padding: 2% 3%;
    font-size: medium;
    width: 55%;
    margin-bottom: 3%;
}
#upp>div:nth-child(3)>button{
    padding: 2% 3%;
    font-size: medium;
    cursor: pointer;
}
#upp>div:nth-child(3)>div>img{
    width: 6%;
    margin-left: 2%;
    cursor: pointer;
}
#downn{
    width: 50%;
    margin: auto;
}
#downn>div{
    width: 50%;
    margin: auto;
}
#downn>div>img{
    width:80%;
    margin-bottom: 4%;
}
#downn>p{
    font-size: small;
    width: 90%;
    margin: auto;
}
#menu{
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -620px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.8s;
}
#menu>div:nth-child(1){
    width: 20%;
    position: relative;
    left: 75%;
    top: 3%;
}
#menu>div:nth-child(1)>img{
    width: 80%;
    cursor: pointer;
}
#menu>div:nth-child(2){
    margin-top: 30%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: repeat(9,1fr);
    gap: 15px;
}
#menu>div:nth-child(2)>select{
    padding: 5% 4%;
    font-size: medium; 
    width: 80%;
}
#menu>div:nth-child(2)>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 0; 
    width: 80%;
}
#menu>div:nth-child(2)>a:hover{
    color : gray;
}
#small{
    display: none;
}
@media all and (max-width: 600px){
    #like, #search, #down{
        display: none;
    }
    #menu-btn{
        display: block;
        grid-area: 1/1/1/2;
    }
    #up{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 3%;
    }
    #logo{
        grid-area: 1/2/1/4;
        cursor: pointer;
    }
    #logo>img{
        width: 90%;
    }
    #navi{
        grid-area: 1/4/1/5;
        justify-content: space-around;
    }
    #navi>img{
        width: 22%;
    }
    #upp{
        display: none;
    }
    #small{
        display: block;
    }
    #small>#hidden1 , #small>#hidden2{
        margin-bottom: 8%;
        display: none;
    }
    #small>#hidden1>div>div{
        margin-bottom: 5%;
        cursor: pointer;
    }
    #small>#hidden1>div>div:hover{
        color: grey;
    }
    #small>#hidden2>div{
        margin-bottom: 3%;
    }
    #small>#hidden2>input , #small>#hidden2>button{
        padding: 2% 3%;
        font-size: 15px;
        margin-bottom: 2%;
    }
    #small>#hidden2>button{
        cursor: pointer;
    }
    #small>#hidden2>div>img{
        width: 6%;
        margin-top: 1%;
        cursor: pointer;
    }
    #small>div:nth-child(1), #small>div:nth-child(3){
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 5%;
        cursor: pointer;
    }
    #small>div:nth-child(1)>div:nth-child(1), #small>div:nth-child(3)>div:nth-child(1){
        grid-area: 1/1/1/3;
    }
    #small>div:nth-child(1)>div:nth-child(2), #small>div:nth-child(3)>div:nth-child(2){
        grid-area: 1/5/1/6;
    }
    #small>div:nth-child(1)>div:nth-child(2)>img, #small>div:nth-child(3)>div:nth-child(2)>img{
        width: 50%;
    }
    #downn{
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
    #downn>div{
        width: 50%;
        margin: auto;
    }
    #downn>div>img{
        width:100%;
        margin-bottom: 4%;
    }
    #downn>p{
        font-size: smaller;
        width: 100%;
    }
}
@media all and (min-width: 601px) and (max-width: 1400px){
    #search{
        display: none;
    }
    #up{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 3%;
    }
    #logo{
        grid-area: 1/2/1/4;
        cursor: pointer;
    }
    #logo>img{
        width: 45%;
    }
    #navi{
        grid-area: 1/4/1/5;
        justify-content: space-around;
    }
    #navi>img{
        width: 12%;
    }
    #down{
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
    }
    #down>div{
        margin: 1%;
    }
    #upp{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5%;
        margin-bottom: 3%;
    }
    #upp>div:nth-child(3){
        grid-area: 1/3/1/6;
    }
    #downn{
        width: 90%;
        margin: auto;
    }
    #downn>div{
        width: 40%;
        margin: auto;
    }
    #downn>div>img{
        width:70%;
        margin-bottom: 4%;
        margin: auto;
    }
}