@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
#library{
    margin: auto;
    background-color: black;
    margin-bottom: 6%;
}
#library>div{
    width: 90%;
    margin: auto;
}
#library>div>div{
    position: relative;
}
.items , .hidden{
    display: none;
}
.visible{
    display: block;
    animation: fade 0.4s ease-in;
}
.actions{
    width: 100%;
    position: absolute;
    top: 80%;
    left: 5%;
    display: flex;
    justify-content: space-between;
}
.actions>button{
    cursor: pointer;
    padding: 1%;
    font-size: 25px;
    color: white;
    background: transparent;
    border: none;
}
#library>div>div>img{
    width: 100%; 
    opacity: 90%;
}
#library>div>div>div{
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
    transform: translateZ(-50%);
}
#library>div>div>div>h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 2%;
    color: white;
    animation: opac 1s;
}
#library>div>div>div>p{
    font-size: larger;
    text-align: center;
    margin-bottom: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    animation: opac2 2s;
}
#library>div>div>div>button{
    padding: 2% 2%;
    font-size: medium;
    margin-left: 42%;
    background-color: white;
    border: none;
    cursor: pointer;
    animation: opac3 2.5s;
}
#shopcategory{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}
#shopcategory>h1{
    font-size: 35px;
    margin-bottom: 5%;
}
#shopcategory>#categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 3%;
}
#shopcategory>#categories>div{
    border: 1px solid rgba(206, 206, 206, 0.744);
    padding: 5% 8%;
    cursor: pointer;
    animation: opac 1s;
}
#shopcategory>#categories>div:hover{
    border: 1px solid rgba(128, 128, 128, 0.744);
}
#shopcategory>#categories>div>img{
    width: 100%;
}
#shopcategory>#categories>div>p{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 5%;
}
#dis{
    margin-bottom: 10%;
}
#dis>h1{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 35px;
}
#discount{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
#discount>div{
    padding: 4%;
}
#discount>div>img{
    width: 100%;
}
#discount>div>h2{
    margin-top: 3%;
}
#discount>div>p{
    margin-top: 3%;
    font-family: 'Quicksand', sans-serif;
}
#discount>div>button{
    margin-top: 4%;
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 5px;
    padding: 4%;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
#discount>div>button:hover{
    background-color: rgb(231, 231, 231);
}
@keyframes opac{

    0%{
        opacity: 0;
    }
    100%{
        opacity : 100;
    }
}
@keyframes opac2{

    0%{
        opacity: 0;
    }
    100%{
        opacity : 1;
    }
}
@keyframes opac3{

    0%{
        opacity: 0;
    }
    100%{
        opacity : 1;
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media all and (max-width: 600px){
    .actions{
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: space-between;
    }
    #library{
        margin-bottom: 15%;
    }
    #library>div>div>div{
        left: 0%;
    }
    #library>div>div>#sun{
        left: 5%;
    }
    #library>div>div>div>h1{
        font-size: 40px;
    }
    #library>div>div>div>p{
        font-size: small;
        margin-bottom: 4%;
    }
    #library>div>div>div>button{
        font-size: small;
        margin-left: 38%;
    }
    #library>div>div>img{
        width: 100%; 
        opacity: 90%;
    }
    #shopcategory{
        margin-bottom: 20%;
    }
    #shopcategory>h1{
        font-size: 30px;
        margin-bottom: 8%;
    }
    #shopcategory>#categories{
        grid-template-columns: 1fr;
    }
    #dis{
        margin-bottom: 10%;
    }
    #dis>h1{
        font-size: 30px;
        margin-bottom: 3%;
    }
    #discount{
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 601px) and (max-width: 720px){
    .actions{
        width: 100%;
        position: absolute;
        left: 5%;
        top: 50%;
        display: flex;
        justify-content: space-between;
    }
    #library>div>div>div{
        left:6%;
    }
    #library>div>div>#sun{
        left: 13%;
    }
    #library>div>div>div>h1{
        font-size: 42px;
    }
    #library>div>div>div>p{
        font-size: smaller;
        margin-bottom: 2%;
    }
    #library>div>div>div>button{
        font-size: smaller;
        margin-left: 38%;
    }
    #library>div>div>img{
        width: 100%; 
        opacity: 90%;
    }
    #shopcategory{
        margin-bottom: 20%;
    }
    #shopcategory>h1{
        font-size: 30px;
        margin-bottom: 8%;
    }
    #shopcategory>#categories{
        grid-template-columns: 1fr;
    }
    #dis{
        margin-bottom: 10%;
    }
    #dis>h1{
        font-size: 30px;
        margin-bottom: 3%;
    }
    #discount{
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 721px) and (max-width: 1440px){
    #shopcategory{
        margin-bottom: 20%;
    }
    #shopcategory>h1{
        font-size: 30px;
        margin-bottom: 8%;
    }
    #shopcategory>#categories{
        grid-template-columns: repeat(2,1fr);
    }
    #dis{
        margin-bottom: 10%;
    }
    #dis>h1{
        font-size: 30px;
        margin-bottom: 3%;
    }
    #discount{
        grid-template-columns: repeat(2,1fr);
    }
}