@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
body{
    background-color: white;
}
#content{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#content>div:nth-child(1){
    grid-area: 1/1/1/1;
}
#content>div:nth-child(2){
    grid-area: 1/2/1/4;
}
#content>div>select{
    padding: 4%;
    font-size: medium;
    margin-top: 10%;
    cursor: pointer;
}
#content>div>img{
    width: 100%;
}
#itemswall{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 15px;
}
#itemswall>div{
    border: 1px solid rgba(207, 207, 207, 0.744);
    padding: 6%;
    position: relative;
    animation: opac 1s ease;
}
#itemswall>div:hover{
    border: 1px solid rgba(128, 128, 128, 0.744);
}
#itemswall>div>img{
    width: 100%;
    cursor: pointer;
}
#itemswall>div>h1{
    margin-top: 4%;
    font-size: 25px;
}
#itemswall>div>p{
    margin-top: 3%;
    font-size: 16px;
}
#itemswall>div>#price{
    margin-top: 10%;
    font-weight: bold;
}
#itemswall>div>#price:hover{
    color: rgb(96, 96, 96);
    cursor: pointer;
}
#itemswall>div>button{
    margin-top: 6%;
    padding: 5%;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    border: none;
}
#itemswall>div>#heart{
    background: transparent;
    font-size: 18px;
    border: none;
    position: absolute;
    top: -1.5%;
    left: 80%;
}
#text{
    position: absolute;
    left: 76%;
    top: 1%;
    color: red;
    font-weight: bold;
    animation: opac 1s ease;
}
#one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    animation: opac 1s ease;
    grid-template-columns: repeat(5,1fr);
    font-family: 'Quicksand', sans-serif;

}
#one1>div>h3, #two2>div>h3, #three3>div>h3, #five5>div>h3, #six6>div>h3, #eight8>div>h3, #nine9>div>h3{
    margin-bottom: 5%;
}
#one1>div>div, #two2>div>div, #three3>div>div, #five5>div>div, #six6>div>div, #eight8>div>div, #nine9>div>div{
    margin-top: 3%;
}
#one1>div:nth-child(1), #two2>div:nth-child(1), #three3>div:nth-child(1), #five5>div:nth-child(1), #six6>div:nth-child(1), #nine9>div:nth-child(1), #eight8>div:nth-child(1){
    grid-area: 1/5/1/6;
    animation: opac 1s ease;

}
#one1>div:nth-child(2), #two2>div:nth-child(2), #three3>div:nth-child(2), #five5>div:nth-child(2), #six6>div:nth-child(2), #nine9>div:nth-child(2), #eight8>div:nth-child(2){
    grid-area: 1/1/1/2;
    padding-top: 3%;
    animation: div1 1.2s ease;
}
#one1>div:nth-child(3), #two2>div:nth-child(3), #three3>div:nth-child(3), #five5>div:nth-child(3), #six6>div:nth-child(3), #eight8>div:nth-child(3){
    grid-area: 1/2/1/3;
    padding-top: 3%;
    animation: div2 1s ease;
}
#one1>div:nth-child(4), #three3>div:nth-child(4), #six6>div:nth-child(4), #eight8>div:nth-child(4){
    grid-area: 1/3/1/4;
    padding-top: 3%;
    animation: div1 1s ease;
}
#one1>div>img, #two2>div>img, #three3>div>img, #five5>div>img, #six6>div>img, #eight8>div>img, #nine9>div>img{
    width: 100%;
    padding: 8%;
}
@keyframes div1 {
    0%{
        position: relative;
        top: 15%;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}
@keyframes div2 {
    0%{
        position: relative;
        top: 23%;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}
@keyframes opac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media all and (max-width: 600px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #itemswall{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10%;
    }
    #content>div>select{
        margin-top: 5%;
    }
}
@media all and (min-width: 601px) and (max-width: 949px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #itemswall{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
    }
    #content>div>select{
        padding: 3%;
        margin-top: 5%;
    }
    #one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
        display: none;
    
    }
}
@media all and (min-width: 950px) and (max-width: 1400px){
    #content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #itemswall{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 10%;
    }
    #content>div>select{
        padding: 2%;
        margin-top: 5%;
    }
    #one1 , #two2, #three3, #five5, #six6, #eight8, #nine9{
        width: 90%;
    }
}